body{
  margin: 0;
}
.section-1 {
  background-color:#DACEE1;
  height: 300px;
}
.container {
  background-color:#DACEE1;
  margin-left: 6px;
  display: flex;
  flex-direction: row;
}
.span-1 {
  font-size: 9px;
  line-height: 15px;
  margin-left: 9px;
  margin-top: 17px;
  white-space: nowrap;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 12px;
  line-height: 15px;
  margin-top: 17px;
}
.l-1 {
  margin-left: 40px;
}
.l-2 {
  margin-right: 20px;
  margin-left: 20px;
}