body {
  margin: 0;
}

.section-1 {
  background-color:#EEEEEE ;
}
.div-1 {
  display: flex;
  background-color:#EEEEEE;
  height: 250px;
}
.div-2 {
  background-color:#EEEEEE;
  display: flex;
  justify-content: space-between;
}
span {
  font-size: 10px;
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 300px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: stretch;
  margin-top: 10px;
  font-size: 10px;
  font-family: sans-serif;
}
.l-2 {
  margin-left: 30px;
  margin-right: 30px;
}
.div-4 {
  margin-left: 150px;
  margin-top: 10px;
  margin-right: 20px;
}
.div-5 {
  margin-top: 10px;
}
@media (max-width:1300px){
  body {
    margin: 0;
  }
  
  .section-1 {
    background-color:#EEEEEE ;
  }
  .div-1 {
    display: flex;
    background-color:#EEEEEE;
    height: 250px;
  }
  .div-2 {
    background-color:#EEEEEE;
    display: flex;
    justify-content: space-between;
  }
  span {
    font-size: 10px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 300px;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: stretch;
    margin-top: 10px;
    font-size: 10px;
    font-family: sans-serif;
  }
  .l-2 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .div-4 {
    margin-left: 150px;
    margin-top: 10px;
    margin-right: 20px;
  }
  .div-5 {
    margin-top: 10px;
  }
}
