body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-1{
  background-color: black;
  width: 100%;
  height: 70px;
}
.img-1{
  width: 23%;
  display: inline; 
  padding: 10px;
}

.div-2{
  background-color:#0a437a;
  width: 100%;
  height:350px;
  text-align: center;
  display: inline-block;
}
h1{
  color:#39ff14;
  font-weight: 400px;
}
.lol{
  color: #39ff14;
  font-size: small;
  margin-bottom: 15px;
}
.btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #2341a1;
  font-size: 13px;
  background: #39FF14;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-top: 15px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.div-3{
  background-color: black;
  width: 100%;
  height: 1900px;
}
.img-2{
  width: 18%;
  padding-top: 30px;
  padding-left: 10px;
}
.gray{
  color: gray;
  padding-left: 10px;
  padding-top: 25px;
}
.p-12{
   color: rgb(248, 248, 248); 
   padding-left: 10px;
}
.p-13{
  color: white;
  padding-left: 10px;
}
.p-14{
  color: rgb(255, 255, 255);
  padding-left: 10px;
}
a{
  text-decoration: none;
}
.gray-2{
  color:gray;
  padding-left: 10px;
  padding-top: 50px;
}
.lop{
  color: white;
  padding-left: 10px;
}
a:focus{
  color: #39FF14;
}
.gray-3{
  color:gray;
  padding-left: 10px;
  padding-top: 50px;
}
.lod{
  color: white;
  padding-left: 10px;
}
.sow{
  color: white;
}
.twit{
  width:13%;
  position: relative;
  bottom: 45px;
  right: 10px;
}
.gram{
  width: 21%;
  position: static;
} 
 .face{
  width: 23%;
} 
.ssup{
  width:20%;
  position: relative;
  bottom: 6px;
}
.dim{
  font-size: 10px;
  color: darkgray;
  padding-left: 10px;
}
.zip{
  color: darkgrey;
  font-size: 10px;
  position: relative;
  left:60px;
  bottom:87px;
}
.bip{
  color:darkgray;
  font-size: 10px;
  position: relative;
  left:90px;
  bottom:87px;
}
.usa{
  color:darkgray;
  font-size: 10px;
  position: relative;
  left:260px;
  bottom:160px;
}
.last{
  color:darkgray;
  font-size: 10px;
  position: relative;
  left: 240px;
  bottom: 150px;
}